# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
* create tables and Mrkdowns in Jupyter Notebook
* List popular languages for Data Science
* commonly used libraries used by Data Scientists 
* List some development environment open source tools used in data science
* few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. JAVA
5. SQL 
6. Julia 
7. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. scikit-learn
3. Keras
4. Pytorch
5. Pandas 
5. Numpy

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|R Studioâ€™s|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author :
Djoudi Abdessalem